---
layout: page
permalink: /projects/
nav: projects
title: Projects
heading: Projects
sub: '<a href="https://github.com/vajradevam?tab=repositories">github.com/vajradevam</a>'
description: "Open-source projects - container runtimes, TCP/IP stacks, emulators, compilers, ML, databases, web apps."
---

{% for cat in site.data.categories %}
<section class="section project-section">
  <div class="section-heading">{{ cat.label }} <span class="project-count">{{ site.data.projects | where: "category", cat.slug | size }}</span></div>
  <div class="project-list">
    {% for p in site.data.projects %}{% if p.category == cat.slug %}
    <div class="project-row"><span class="p-nm"><a href="https://github.com/vajradevam/{{ p.repo }}" target="_blank" rel="noopener">{{ p.name }}{% for i in (p.name.size..18) %}&#32;{% endfor %}</a></span><span class="p-lg">{% assign lg = p.lang | default: "" %}{{ lg }}{% for i in (lg.size..14) %}&#32;{% endfor %}</span><span class="p-desc">{{ p.desc | default: "" }}</span></div>{% endif %}{% endfor %}
  </div>
</section>
{% endfor %}