*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
}

:root{
    --color-primary: #191d2b;
    --color-secondary: #ed5d28;
    --color-white: #fff8f5;
    --br-sm-2: 14px;
    --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .2);
}

body {
    background-color: var(--color-primary);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 1.1rem;
    color: var(--color-white);
    transition: all .4s;
}

a{
    display: inline;
    text-decoration: none;
    color: inherit;
    font-family: inherit;
}

header {
    height: 100vh;
    color: var(--color-white);
    overflow: hidden;
}

section {
    min-height: 100vh;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    padding: 3rem 18r;
}

.section {
    transform: translateY(-100%);
    transition: all .4s ease-in-out;
    background-color: var(--color-primary);
}

.sec1 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec2 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec3 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec4 {
    display: none;
    transform: translateY(0) scale(1);
}

.sec5 {
    display: none;
    transform: translateY(0) scale(1);
}

//controls
.controls{
    position: fixed;
    z-index: 10;
    top: 50%;
    right: 3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transform: translateY(-50%);
    .control{
        padding: 1rem;
        cursor: pointer;
        background-color: var(--color-secondary);
        width: 45px;
        height: 45px;
        border-radius: 12%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: .7rem;
        box-shadow: var(--box-shadow-1);
    }
}